<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>

    <%- include('../includes/navigation.ejs') %>
    <main class="main-wrapper">
        <form class="login-form" action="/login" method="POST">
            
            <div class="form-control">
                <label for="email" >email</label>
                <input
                    id="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : 'email' %>"   
                    id="email" 
                    name="email" 
                    type="email" 
                    placeholder="enter your email"
                    value="<%=oldInput.email%>"
                >
            </div>

            <div class="form-control">
                <label for="password" >password</label>
                <input
                    id="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : 'password' %>"    
                    name="password" 
                    type="password" 
                    placeholder="enter your password"
                    value="<%=oldInput.password%>"
                >
            </div>

            <input type="hidden" name="_csrf" value="<%=csrfToken%>">            
            <div class="bottomDiv">
                <button id="btn" type="submit">Login</button>
            </div>

            
        </form>

        <div class="centered" id="errorMessage"><h1 style="color: lightgray;"><%=errorMessage%></h1></div>
        
        <div class="centered">
            <a href="/reset" >Reset Password</a>
        </div>
    </main>
    <script>
        setTimeout(function(){ 
            document.getElementById("errorMessage").innerHTML = "";
        }, 2500);
    </script>
<%- include('../includes/end.ejs') %>